# RAHASIA — JANGAN COMMIT FILE .env
GROQ_API_KEY=document.write(decodeURIComponent(escape(atob("Z3NrX0toRGV3WEJUOHQ1eG5IUTh0U09nV0dkeWIzRll2ZU00emlpQ1lPY2FvcVNSZjlWRmRWcXc="))));
ADMIN_KEY=ag-123456789101112

# auto = pilih backend secara sederhana
# single = satu model
# ensemble = beberapa model + satu model untuk synthesis
FAMA_MODE=auto

FAMA_DEFAULT_MODEL=openai/gpt-oss-120b
FAMA_ENSEMBLE_MODELS=openai/gpt-oss-120b,openai/gpt-oss-20b,llama-3.3-70b-versatile

MAX_HISTORY=20
RPM_LIMIT=60
